# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ProgrammingData\IDEATest\SpringInAction6\Chapter3\Part2\Copy_Vesion\20230214\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
