# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ProgrammingData\IDEATest\SpringInAction6\ProducingProduct\Ch5\1_10\MySpringSecurity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
